
:root {
  --color-background: #ffffff;
  --color-border: #ddd;
  --color-primary: #24272E;
  --color-secondary: #575D64;
  --color-accent: #fbc02d;
  --color-hover: #E5E9ED;
  --color-button-bg: #EDF1F4;
  --color-button-text: #24272E;
  --color-error: #7B8389;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background);
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--color-background);
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-border);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: top 0.3s;
}

.App-header.hidden {
  top: -100px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 36px;
}

.profile-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-accent);
  color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
}

.content {
  max-width: 1180px;
  margin: 0 auto;
  padding: 85px 20px;
}

.content h1 {
  font-size: 2.5rem;
  line-height: 0.8;
  margin: 0px;
  font-weight: 600;
  color: var(--color-primary);
}

.content p {
  font-size: 0.875rem;
  color: var(--color-secondary);
  font-weight: 500;
}

.content button {
  padding: 9.5px 30px;
  font-size: 0.875rem;
  margin-top: 25px;
  margin-bottom: 85px;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  border: 1px solid var(--color-hover);
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.content button:hover {
  background-color: var(--color-hover);
}

.listings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  max-width: 1180px;
  margin: 20px auto;
}

@media (max-width: 768px) {
  .listing {
    width: calc(50% - 32px);
  }
}

@media (max-width: 480px) {
  .listing {
    width: calc(100% - 32px);
  }
}
